<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
        <!-- <div class="container justify-content-center">
            <h1><%= kindOfDay %></h1>
            <ul>
            
                <% for(var i=0; i<newListItems.length; i++){ %>
                    <li> <%= newListItems[i] %></li>
                <% } %>

            </ul>
            <div class="container different">
                <form action="/" method="post" class="justify-content-center">

                    <input class="form-control w-50" type="text" name="newItem" placeholder="Add new item">
                    <button class="btn btn-primary" type="submit">Add</button>
    
                </form>
            </div>
            
        </div> -->

        <div class="title-box">
            <h1>To-Do List</h1>
        </div>
        <div class="box" id="heading">
            <h1><%= kindOfDay %></h1>
        </div>
        
        <div class="box">
            <% for(var i=0; i<newListItems.length; i++){ %>
                <div class="item">
                    <input type="checkbox" >
                    <p><%= newListItems[i] %></p>
                </div>       
            <% } %> 
            <form action="/" method="post">

                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        
                    <button type="submit" name="button">+</button>
            </form>    
        </div>
    
</body>
</html>